/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("./background-calculator.jpg");
}

h1 {
  font-style: italic;
  font-size: 4rem;
  color: #373fff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
div#main {
  text-align: center;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
}

#btn-equal {
  height: 46px;
}

table {
  background-color: skyblue;
  border: 5px solid red;
  width: 350px;
  height: 400px;
  display:
}